::selection {
  background-color: #E57C04;
  color: #F3B700;
  padding: 10px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.main {
  position: relative; }

body {
  font-size: 1.6rem;
  font-family: Krub;
  background-color: #222;
  color: #eee;
  margin: 2rem; }

.secondary-title {
  color: #FAA300;
  width: 75%;
  position: relative;
  margin: 2rem;
  font-size: 3rem; }
  .secondary-title::after {
    display: inline-block;
    content: '';
    width: 50%;
    height: 100%;
    transform: translateY(-50%);
    margin-left: 3rem;
    border-bottom: solid 5px #FAA300; }

.title-primary {
  position: relative;
  transition: all .7s;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin: 3rem;
  font-size: 5rem;
  color: #FF6201; }
  .title-primary:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-5px); }

.title-white {
  position: relative;
  transition: all .7s;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin: 3rem;
  font-size: 5rem;
  color: #fff; }
  .title-white:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    transform: translateY(-5px); }

.sales {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20vh; }

.sale {
  perspective: 1000px;
  position: relative;
  transition: all .2s;
  width: 25%;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-size: cover; }
  .sale, .sale__front, .sale__back {
    backface-visibility: hidden; }
  .sale__front, .sale__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .sale__cont {
    height: 100%;
    width: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .sale__cont:hover {
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }
  .sale__front {
    background-image: linear-gradient(to bottom right, rgba(255, 98, 1, 0.8), rgba(246, 62, 2, 0.8)), url(../img/pizzabg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: 2;
    transform: rotateY(0deg);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .sale__back {
    background-image: url(../img/ting.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg); }
  .sale:hover .sale__cont {
    z-index: 100;
    transform: translateY(-3px) rotateY(180deg) scale(1.2); }
  .sale__content {
    padding: 3rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-size: 3rem;
    width: 50%;
    margin-bottom: 1rem; }
  .sale__lower {
    background-color: #444;
    padding: 2rem;
    align-items: center;
    margin: 0; }
  .sale__percentage {
    background-color: #FF6201;
    display: inline-block;
    flex-grow: 1;
    border-radius: 5px;
    padding: 1rem; }
    .sale__percentage--num {
      font-size: 2rem; }
  .sale__button {
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10rem; }
    .sale__button--button {
      display: inline-block;
      background-color: #FF6201;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      font-size: 3rem;
      padding: 1rem 3rem; }

.menu {
  background-image: linear-gradient(to right bottom, rgba(255, 98, 1, 0.8), rgba(229, 124, 4, 0.8)), url(../img/pizza2.jpg);
  background-size: cover;
  padding-top: 25vh;
  padding-bottom: 25vh;
  margin-top: 10vh;
  transform: skewY(-10deg);
  display: flex;
  flex-direction: column; }
  .menu > * {
    transform: skewY(10deg); }
  .menu__menu {
    margin: 0 auto;
    width: 50%;
    background-color: rgba(229, 124, 4, 0.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 150%;
    transition: all .2s; }
    .menu__menu:hover {
      background-color: rgba(229, 124, 4, 0.8);
      transform: translateY(-5px) skewY(10deg); }
  .menu__itemhead {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold; }
  .menu__item {
    display: flex;
    justify-content: space-evenly;
    font-weight: 300; }
    .menu__item--name {
      font-weight: 300;
      width: 50%; }
  .menu__item-desc {
    font-size: 1.6rem;
    color: #ccc;
    margin-left: 6rem; }

.about {
  width: 50%;
  margin: 5rem 0;
  margin-left: 40%;
  padding: 5rem;
  padding-top: 15rem;
  background-image: linear-gradient(to right bottom, rgba(255, 98, 1, 0.8), rgba(229, 124, 4, 0.8)), url(../img/pizza3.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: rgba(229, 124, 4, 0.6);
  clip-path: polygon(0 42%, 100% 3%, 100% 92%, 19% 100%);
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about:hover {
    background-color: rgba(229, 124, 4, 0.9);
    transform: translateY(-5px); }
  .about__desc {
    text-align: center;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto; }

.reviews {
  width: 80%; }

.review {
  background-size: cover;
  padding: 10rem;
  background: #E57C04;
  display: flex; }
  .review:nth-child(even) {
    margin-left: 20vw; }
  .review:nth-child(odd) {
    margin-right: 20vw; }
  .review:nth-child(4n + 0) {
    clip-path: polygon(14% 0, 100% 6%, 100% 100%, 0 92%);
    background-image: linear-gradient(to right bottom, rgba(229, 124, 4, 0.8), rgba(246, 62, 2, 0.8)), url(../img/pizza6.jpg);
    background-size: cover; }
  .review:nth-child(4n + 1) {
    clip-path: polygon(0 12%, 78% 0, 100% 86%, 0 99%);
    background-image: linear-gradient(to right bottom, rgba(229, 124, 4, 0.8), rgba(250, 163, 0, 0.8)), url(../img/pizza8.jpg);
    background-size: cover; }
  .review:nth-child(4n + 2) {
    clip-path: polygon(0 3%, 100% 8%, 96% 100%, 5% 100%);
    background-image: linear-gradient(to right bottom, rgba(229, 124, 4, 0.8), rgba(246, 62, 2, 0.8)), url(../img/pizza7.jpg);
    background-size: cover; }
  .review:nth-child(4n + 3) {
    clip-path: polygon(0 2%, 94% 0, 100% 89%, 11% 100%);
    background-image: linear-gradient(to right bottom, rgba(229, 124, 4, 0.8), rgba(250, 163, 0, 0.8)), url(../img/pizza5.jpg);
    background-size: cover; }
  .review:not(:first-child) {
    margin-top: -10rem; }
  .review__reviewer {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .review__reviewer--img {
      margin-bottom: 2rem;
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 50%; }
    .review__reviewer--name {
      font-size: 3rem; }
      .review__reviewer--name::before {
        font-weight: 400;
        content: '-'; }
  .review__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .review__title {
    font-style: italic;
    font-size: 3rem; }
    .review__title::before {
      content: '"'; }
    .review__title::after {
      content: '"'; }
  .review__description {
    font-size: 2rem;
    font-style: italic; }
  .review__rating {
    display: flex;
    font-size: 3rem; }
    .review__rating--stars {
      font-size: 3rem;
      color: #F3B700;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.nav {
  background-color: #222;
  padding: 0 1rem;
  display: flex;
  position: sticky; }
  .nav__link {
    padding: 2rem 0;
    display: inline-block;
    color: #eee;
    text-decoration: none;
    transition: all .3s;
    border-bottom: solid 3px transparent; }
    .nav__link:not(:last-child) {
      padding: 2rem 1rem; }
    .nav__link:hover {
      color: white;
      border-bottom: solid 3px #FF6201; }
  .nav__logo {
    position: absolute;
    align-self: center;
    justify-self: flex-end;
    display: inline-block;
    right: 5%;
    font-size: 3rem;
    color: #FF6201;
    display: flex;
    transition: all .2s; }
    .nav__logo--icon {
      transition: all .2s;
      margin-right: 1rem;
      display: inline-block; }
      .nav__logo--icon:hover {
        transform: rotate(180deg); }

.header {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  background-image: linear-gradient(to right bottom, rgba(255, 98, 1, 0.8), rgba(229, 124, 4, 0.8)), url(../img/pizzabg.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  .header__title {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%); }
    .header__title--main {
      color: #fff;
      text-transform: uppercase;
      font-size: 16rem;
      letter-spacing: 6.5rem;
      font-weight: 400; }
    .header__title--desc {
      letter-spacing: 3rem;
      font-size: 4rem;
      text-transform: uppercase;
      color: #eee; }

.order {
  background-image: linear-gradient(to right bottom, rgba(255, 98, 1, 0.8), rgba(229, 124, 4, 0.8)), url(../img/pizza4.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 11%, 86% 93%, 0 100%);
  margin: 10rem;
  padding: 5rem;
  position: relative;
  z-index: 5;
  width: 60%; }
  .order__label {
    font-size: 2rem;
    margin-right: 2rem; }
  .order__input {
    background-color: #eee;
    padding: 1rem;
    border-radius: 2000px;
    border: none;
    width: 50%;
    transition: all .5s; }
    .order__input:focus {
      padding-left: 2rem;
      background-color: white;
      outline: none; }
  .order__submit {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    background-color: #F3B700;
    border: none;
    padding: 2rem;
    border-radius: 40px;
    text-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    outline: none; }
    .order__submit:hover {
      transform: translateX(5px); }
    .order__submit:active {
      transform: translateX(3px); }
  .order__value {
    margin: 2rem;
    width: 60%;
    justify-content: space-between;
    display: flex; }

.order-bg {
  background-image: linear-gradient(to right bottom, rgba(243, 183, 0, 0.8), rgba(250, 163, 0, 0.8)), url(../img/pizza6.jpg);
  background-size: cover;
  position: absolute;
  margin-top: -10vh;
  right: 20vw;
  top: 0;
  clip-path: polygon(28% 13%, 100% 9%, 89% 100%, 7% 93%);
  width: 70vw;
  height: 90vh; }

.club {
  width: 50%;
  clip-path: polygon(0 0, 100% 11%, 86% 93%, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(255, 98, 1, 0.8), rgba(229, 124, 4, 0.8)), url(../img/pizza5.jpg);
  background-size: cover;
  padding: 20rem;
  margin: 10rem; }
  .club__desc {
    font-size: 2rem; }

.footer {
  background-color: #444;
  padding: 10rem; }
