$color-white: #fff;
$color-black: #000;

$color-light-gray-1: #eee;
$color-light-gray-2: #ccc;
$color-light-gray-3: #aaa;

$color-dark-gray-1: #222;
$color-dark-gray-2: #444;
$color-dark-gray-3: #666;

$color-primary-light: #FF6D45;
$color-primary: #FF592C;
$color-primary-dark: #B2320F;

$color-secondary: #FFC65C;
$color-secondary-dark: #D6A922;

