$color-white: #fff;
$color-black: #000;

$color-light-gray-1: #eee;
$color-light-gray-2: #ccc;
$color-light-gray-3: #aaa;

$color-dark-gray-1: #222;
$color-dark-gray-2: #444;
$color-dark-gray-3: #666;

$color-primary-light: #FF6201;
$color-primary: #E57C04;
$color-primary-dark: #F63E02;

$color-secondary: #F3B700;
$color-secondary-dark: #FAA300;

