.header {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary, .8)),url(../img/pizzabg.jpg);
    background-size: cover;
    height: 100vh;
    &__title {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        &--main {
            color: $color-white;
            text-transform: uppercase;
            font-size: 16rem;
            font-weight: 400;
        }
        &--desc {
            font-size: 4rem;
            text-transform: uppercase;
            color: $color-light-gray-1;
            
        }
    }
}