.order {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary, .8)),url(../img/pizza4.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 11%, 86% 93%, 0 100%);
    margin: 10rem;
    padding: 5rem;
    position: relative;
    z-index: 5;
    width: 60%;
    &__label {
        font-size: 2rem;
        margin-right: 2rem;
    }
    &__input {
        background-color: $color-light-gray-1;
        padding: 1rem;
        border-radius: 2000px;
        border: none;
        width: 50%;
        transition: all .5s;
        &:focus {
            padding-left: 2rem;
            background-color: white;
            outline: none;
        }
    }
    &__submit {
        font-size: 3rem;
        font-weight: 300;
        color: white;
        background-color: $color-secondary;
        border: none;
        padding: 2rem;
        border-radius: 40px;
        text-shadow: 0 .2rem 1rem rgba(black, .2);
        transition: all .2s;
        outline: none;
        &:hover {
            transform: translateX(5px);
        }
        &:active {
            transform: translateX(3px);
        }
    }
    &__value {
        margin: 2rem;
        width: 60%;
        justify-content: space-between;
        display: flex;

    }
}
.order-bg {
    background-image: linear-gradient(to right bottom, rgba($color-secondary, .8), rgba($color-secondary-dark, .8)),url(../img/pizza6.jpg);
    background-size: cover;
    position: absolute;
    margin-top: -10vh;
    right: 20vw;
    top: 0;
    clip-path: polygon(28% 13%, 100% 9%, 89% 100%, 7% 93%);

    width: 70vw;
    height: 90vh;
}