.menu {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary, .8)),url(../img/pizza2.jpg);
    background-size: cover;
    
    padding-top: 25vh;
    padding-bottom: 25vh;
    margin-top: 10vh;
    transform: skewY(-10deg); 
    display: flex;
    flex-direction: column;
    & > * {
        transform: skewY(10deg);  
    }
    &__menu {
        margin: 0 auto;
        width: 50%;
        background-color: rgba($color-primary, .4);
        box-shadow: 0 1rem 2rem rgba(black, .6);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        font-size: 150%;
        transition: all .2s;
        &:hover {
            background-color: rgba($color-primary, .8);
            transform: translateY(-5px) skewY(10deg);
        }
    }
    &__itemhead {
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;
         
    }
    &__item {
        display: flex;
        justify-content: space-evenly;
        font-weight: 300;
        
        &--name {
            font-weight: 300;
            width: 50%;
        }
    }
    &__item-desc {
        font-size: 1.6rem;
        color: $color-light-gray-2;
        margin-left: 6rem;
    }
}