::selection {
    background-color: $color-primary;
    color: $color-secondary;
    padding: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
