body {
    font-size: 1.6rem;
    font-family: Krub;
    
    background-attachment: fixed;
    color: $color-light-gray-1;
    margin: 2rem;
    background-size: 20%;
}
.secondary-title {
    color: $color-secondary-dark;
    width: 75%;
    position: relative;
    &::after {
        display: inline-block;
        content: '';
        width: 50%;
        height: 100%;
        transform: translateY(-50%);
        margin-left: 3rem;
        border-bottom: solid 5px $color-secondary-dark;
    }
    margin: 2rem;
    font-size: 3rem;
}

.title-primary {
    position: relative;
    transition: all .7s;
    display: inline-block;
    margin: 0 auto;
    &:hover {
        transform: translateY(-5px);
    }
    text-align: center;
    margin: 3rem;
    font-size: 5rem;
    color: $color-primary-light;
}
.title-white {
    position: relative;
    transition: all .7s;
    display: inline-block;
    margin: 0 auto;
    &:hover {
        transform: translateY(-5px);
    }
    text-align: center;
    margin: 3rem;
    font-size: 5rem;
    color: $color-white;
}

